@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
	//  background-color: #f0f0f0;
	background-color: #f5f4f4;
}

.nav-container{
	z-index: 99;
	position: relative;
	min-width: 3rem;
	min-height: 9rem;
	display: grid;
	place-items: center;
		// background-color: aqua; //for debugging
	.nav-bar{
		z-index: 100;
		overflow: hidden;
		font-family: "Poppins";
		color: #dbff00;
		background-color: #1c1d20;
		position: fixed;
		width: 80vw;
		height: 8.5vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 3rem;
		border: 2px solid black;
		border-radius: 50em;
		h1{
			font-weight: bold;
		}
		ul{	
			list-style: none;
			display: flex;
			flex-direction: row;
			gap: 3em;
				a{
					text-decoration: none;
					color: #dbff00;
					font-size: 1.2em;
				}
			}
		}

					
		.mini-nav{
			z-index: 200;
			display: flex;
			align-items: center;
			flex-direction: column;
			cursor: pointer;
			position: fixed;
			transform: scale(0);
			top: 2em;
			right: 2em;
			justify-self: center;
			height: 5em;
			width: 5em;
			border-radius: 50%;
			background-color: #1c1d20;
			transition: 
				transform .4s cubic-bezier(0.36, 0, 0.66, 0);

				&::after, &::before{
				position: absolute;
				content: "";
				width: 2.3em;
				height: 0.2em;
				background-color: #dbff00;
			}
			&::after{
				top: 55%;
			}
			&::before{
				top: 45%;
			}
		}

	}

.is-Scrolled{
	transition: transform .4s cubic-bezier(0.34, 1.5, 0.64, 1) !important;
	transform: scale(1) !important;
}

//CLASSES
.grayscale{
	 -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  	 filter: grayscale(50%);
}
 .div1{
 	position: relative;
 	width: 100%;
 	height: 100vh;
	border-bottom: 2px solid black;
	img{
		left: 10em;
		position: absolute;
		top: 1em;
		height: 35em;
		width: 35em;
		object-fit: fill;
		//transform: scaleX(-1);
		filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.6));
		transition: filter 500ms ease;
		&:hover{
			filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
		}
	}
	 .title{
		z-index: 100;
		user-select: none;
		position: absolute;
		z-index: 4;
		font-family: "Poppins";
		left: 50%;
		top: 20%;
		transform: translate(-50%,-50%);
		font-size: 10em;
		-webkit-text-stroke: 2px black;
		-webkit-text-fill-color: #dbff00;

	 }
	.info-container{
		//background-color: red;
		position: relative;
		width: 100%;
		min-height: 5vh;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		top: 50%;
		.main-intro{
			z-index: 11;
			position: absolute;
			display: flex;
			width: 45%;
			height: 10vh;
			right: 9em;
			h2{
				text-align: right;
				font-size: 1.5em;
				font-family: "Lato";
				font-weight: normal;
			}

		}
	}
}


.div2, .div4 {
	width: 100%;
	height: 100vh;
}
.div2{
	overflow: hidden;
	z-index: 1;
	position: relative;
	background-color: white;
	min-height: 105vh;
	border-bottom: 2px solid #1c1d20;
	background-color: #f5f4f4;
	.event-heading{
		user-select: none;
		position: absolute;
		z-index: 4;
		font-family: "Lucida Sans";
		left: 48%;
		top: 20%;
		transform: translate(-50%,-50%);
		font-size: 13em;
		-webkit-text-stroke: 2px black;
		-webkit-text-fill-color: #dbff00;
	}
	img{
		z-index: -1;
		position: absolute;
		height: 55em;
		width: 55em;
		object-fit: fill;
		
	}
	.at-bottom{
		filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.6));
		z-index: 0;
		right: -12em;
		top: 0em;
		transition: filter 500ms ease;
		&:hover{
			filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
		}
	}
	.at-top{
		pointer-events: none;
		z-index: 5;
		right: -12em;
		top: 0em;
	}

	.event-intro{
		z-index: 5;
		font-family:'Poppins';
		position: absolute;
		width: 40%;
		color: #1c1d20;
		left: 5em;
		top: 25em;
		h2{
			font-weight: normal;
		}

	}
	
	.events-button{
		z-index: 5;
		text-decoration: none;
		color: #1c1d20;
		position: absolute;
		left: 5em;
		bottom: -5em;
		border: 2px solid #1c1d20;
		padding: 0.5em 1.5em;
		border-radius: 5em;
		font-size: 1.5em;
		font-weight: bold;
		font-family: "Poppins";
		transition: background-color 250ms ease,
			color 250ms ease,
			border 250ms ease,
			transform  250ms ease;
		&:hover{
			background-color: #dbff00;
			border-color: black;
			transform: scale(1.1);
		}
	}

}
.div3{
	z-index: 1;
	position: relative;
	min-height: 60vh !important;
	width: 100%;
	background-color: white;
	border-bottom: 2px solid #1c1d20;
	.sponsors{
			user-select: none;
			position: absolute;
			z-index: 4;
			font-family: "Lucida Sans";
			left: 50%;
			top: 0.5em;
			transform: translate(-50%,-50%);
			font-size: 10em;
			-webkit-text-stroke: 2px black;
			-webkit-text-fill-color: #dbff00;
	}
	h2{
		position: absolute;
		font-family: "Lucida Sans";
		font-weight: lighter;
		top:30%;
		left: 10em;
	}
}



.foot{
	border-top: 2px solid #1c1d20;
	height: 30vh;
	width: 100%;
	background-color: #dbff00;
	display: flex;
	justify-content: flex-end;
}





// For Firefox (Scroll-bar styling)
*{
	scrollbar-width: none;
	scrollbar-track-color: transparent;
}
*::-webkit-scrollbar{
	// width:8px;
	// height:8px;
	display: none;
}
*::-webkit-scrollbar-thumb{
	// background: #111111;
	// border-radius: 50px;
	display: none;
}
*::-webkit-scrollbar-track{
	display: none;
}